@{
    ViewData["Title"] = "Statistics";
}
<table class="table table-bordered table-striped" id="tableRecordList">
    <thead>
        <tr>
            <th></th>
            <th>
                Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Average Review Score
            </th>
            <th>
                Best Review Score
            </th>
            <th>
                Review Comment
            </th>
            <th>
                AverageScore(All Riders)
            </th>

        </tr>
    </thead>
</table>


@section scripts
{

    <script type="text/javascript" src="~/js/statistics.js"></script>

}
